<!DOCTYPE html>
<meta charset="utf-8">
<style>

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
  }

  .node text {
    pointer-events: none;
    font: 10px sans-serif;
  }

  div.tooltip {
    position: absolute;
    width: 120px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
  }

</style>
<body>
  <script src="d3.min.js"></script>
  <script>

  var width = window.innerWidth || document.body.clientWidth
  var height = window.innerHeight || document.body.clientHeight

  var svg = d3.select("body").append("svg")
  //    .attr("style", "border: 1px solid gray; border-radius:3px;")   //This will do the job
      .attr("width", width-10)
      .attr("height", height-50);

  var color = d3.scale.category20();

  var force = d3.layout.force()
      .charge(-120)
      .linkDistance(100)
      .size([width, height]);

  d3.json("graph.json", function(error, json) {
    force
	.nodes(json.nodes)
	.links(json.links)
	.start();

    svg.append("defs").append("marker")
	.attr("id", "arrowhead")
	.attr("refX", 14)
	.attr("refY", 2)
	.attr("markerWidth", 8)
	.attr("markerHeight", 8)
	.attr("orient", "auto")
	.append("path")
	.attr("d", "M 0,0 V 4 L6,2 Z"); //this is actual shape for arrowhead

    var link = svg.selectAll(".link")
	.data(json.links)
	.enter().append("line")
	.attr("class", "link")
	.attr("marker-end", "url(#arrowhead)")
	.style("stroke-width", function(d) { return Math.sqrt(d.value); });

    // Tooltips
    var div = d3.select("body").append("div")
	.attr("class", "tooltip")
	.style("opacity", 0);

    var node = svg.selectAll(".node")
	.data(json.nodes)
	.enter().append("g")
	.attr("class", "node")
	.call(force.drag);

    node.append("text")
	.attr("dx", 14)
	.attr("dy", ".35em")
	.attr("fill", "black")
	.text(function(d) {
	   if (d.expired) {
	      d3.select(this).attr("fill", "red")
	   }
	   return d.name });

     var tooltip = d3.select("body")
	.append("div")
	.style("position", "absolute")
	.style("z-index", "10")
	.style("font-size","15px")
	.style("visibility", "hidden").text("");

      node.append("image")
	.attr("x", -8)
	.attr("y", -8)
	.attr("width", 16)
	.attr("height", 16)
	.attr("xlink:href", function(d) { return d.imgUrl })
	.on("mouseover", function(d) {
	      div.transition()
		  .duration(50)
		  .style("opacity", .9);
	      div.html("Current version: "  + d.current_ver + "<br/> Latest version: " + d.latest_ver)
		  .style("left", (d3.event.pageX) + "px")
		  .style("top", (d3.event.pageY - 40) + "px");
	      })
	 .on("mouseout", function(d) {
	      div.transition()
		  .duration(50)
		  .style("opacity", 0);
	  });
  /*
	.on("mouseover", function(d) { d3.select(this).attr("width", 20)
				      d3.select(this).attr("height", 20)
				      tooltip.html("Current version: "  + d.current_ver + "<br/> Latest version: " + d.latest_ver)
				      return tooltip.style("visibility", "visible")})
	.on("mouseout", function(d) { d3.select(this).attr("width", 16)
				      d3.select(this).attr("height", 16)
				      return tooltip.style("visibility", "hidden")
				     })

   node.append("circle")
	.attr("r", 5)
	.style("fill", function(d) { return color(d.group); })
	.on("mouseover", function(d){
	    tooltip.html("Name: " + d.name + '<br/>'
			 + 'test');
	   d3.select(this).attr("r", 7)
	    return tooltip.style("visibility", "visible");})
	.on("mousemove", function(){return tooltip.style("top",
	      (d3.event.pageY-20)+"px").style("left",(d3.event.pageX+20)+"px");})
	.on("mouseout", function(){
	    d3.select(this).attr("r", 5)
	    return tooltip.style("visibility", "hidden");});
  */



    force.on("tick", function() {
      link.attr("x1", function(d) { return d.source.x; })
	  .attr("y1", function(d) { return d.source.y; })
	  .attr("x2", function(d) { return d.target.x; })
	  .attr("y2", function(d) { return d.target.y; });

      node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });


    });
  });

</script>
</body>
