# Byte-compiled / optimized / DLL files / IDE files
__pycache__/
*.py[cod]
*$py.class
*~
.ant/
.idea/
.spyderproject
.spyproject

# Distribution / packaging
build/
DLLs/
Debug/
Release/
*.class
*.dll
*.egg-info/
eggs/
.eggs/
*.eps
*.exe
*.lib
*.suo
*.zip

# OSX
*.DS_Store

# Wix files
files.wixobj
files.wxs
installer.wixobj
version.wxi

# Pytest
pytest.log

# FOQUS specific ignores
docs/FOQUS_User_Manual.pdf
docs/iREVEAL_User_Manual.pdf
foqus/
foqus_console.py
foqus_installer.msi
foqus_installer.wixpdb
foqus_lib/help/html/Chapt_drm/
foqus_lib/help/html/Chapt_flowsheet/
foqus_lib/help/html/Chapt_frontmatter/
foqus_lib/help/html/Chapt_heat/
foqus_lib/help/html/Chapt_optimization/
foqus_lib/help/html/Chapt_ouu/
foqus_lib/help/html/Chapt_sinter/
foqus_lib/help/html/Chapt_solventfit/
foqus_lib/help/html/Chapt_surrogates/
foqus_lib/help/html/Chapt_uq/
foqus_lib/help/html/D3_info.html
foqus_lib/help/html/FOQUS_User_Manual.css
foqus_lib/help/html/FOQUS_User_Manual.html
foqus_lib/help/html/FOQUS_User_Manual.xref
foqus_lib/help/html/JSON.org_info.html
foqus_lib/help/html/Py4J_info.html
foqus_lib/help/html/PySide_info.html
foqus_lib/help/html/Python_info.html
foqus_lib/help/html/Qt_info.html
foqus_lib/help/html/SLF4J_info.html
foqus_lib/help/html/adodbapi_info.html
foqus_lib/help/html/cma_info.html
foqus_lib/help/html/foqus_license.html
foqus_lib/help/html/matplotlib_info.html
foqus_lib/help/html/networkx_info.html
foqus_lib/help/html/nlopt_info.html
foqus_lib/help/html/numpy_info.html
foqus_lib/help/html/pycrypto_info.html
foqus_lib/help/html/pyparsing_info.html
foqus_lib/help/html/python-dateutils_info.html
foqus_lib/help/html/python-ntlm_info.html
foqus_lib/help/html/pywin32_info.html
foqus_lib/help/html/scipy_info.html
foqus_lib/help/html/thirdPartyDependencies.html
foqus_lib/help/html/turbine_client_license.html
manual/FOQUS_User_Manual.4ct
manual/FOQUS_User_Manual.4tc
manual/FOQUS_User_Manual.aux
manual/FOQUS_User_Manual.bbl
manual/FOQUS_User_Manual.blg
manual/FOQUS_User_Manual.css
manual/FOQUS_User_Manual.dvi
manual/FOQUS_User_Manual.html
manual/FOQUS_User_Manual.idv
manual/FOQUS_User_Manual.lg
manual/FOQUS_User_Manual.log
manual/FOQUS_User_Manual.out
manual/FOQUS_User_Manual.pdf
manual/FOQUS_User_Manual.tmp
manual/FOQUS_User_Manual.toc
manual/FOQUS_User_Manual.xref
zzFOQUS_User_Manual.ps
