[submodule "turb_client"]
	path = turb_client
	url = git@github.com:CCSI-Toolset/turb_client.git
[submodule "turb_hydro"]
	path = turb_hydro
	url = git@github.com:CCSI-Toolset/turb_hydro.git
[submodule "foqus_lib/framework/surrogate/iREVEAL"]
	path = foqus_lib/framework/surrogate/iREVEAL
	url = git@github.com:CCSI-Toolset/iREVEAL.git
