*.class
*.dll
*.exe
*.lib
*.pyd
*.suo
*.zip
docs/FOQUS_User_Manual.pdf
foqus_lib/help/html/Chapt_drm/
foqus_lib/help/html/Chapt_flowsheet/
foqus_lib/help/html/Chapt_frontmatter/
foqus_lib/help/html/Chapt_heat/
foqus_lib/help/html/Chapt_optimization/
foqus_lib/help/html/Chapt_ouu/
foqus_lib/help/html/Chapt_sinter/
foqus_lib/help/html/Chapt_solventfit/
foqus_lib/help/html/Chapt_surrogates/
foqus_lib/help/html/Chapt_uq/
foqus_lib/help/html/FOQUS_User_Manual.css
foqus_lib/help/html/FOQUS_User_Manual.html
foqus_lib/help/html/FOQUS_User_Manual.xref
manual/FOQUS_User_Manual.4ct
manual/FOQUS_User_Manual.4tc
manual/FOQUS_User_Manual.aux
manual/FOQUS_User_Manual.bbl
manual/FOQUS_User_Manual.blg
manual/FOQUS_User_Manual.css
manual/FOQUS_User_Manual.dvi
manual/FOQUS_User_Manual.html
manual/FOQUS_User_Manual.idv
manual/FOQUS_User_Manual.lg
manual/FOQUS_User_Manual.log
manual/FOQUS_User_Manual.out
manual/FOQUS_User_Manual.pdf
manual/FOQUS_User_Manual.tmp
manual/FOQUS_User_Manual.toc
manual/FOQUS_User_Manual.xref
