# Byte-compiled / optimized / DLL files / IDE files
__pycache__/
*.py[cod]
*$py.class
*~
.ant/
.idea/
.spyderproject
.spyproject

# Distribution / packaging
build/
dist/
DLLs/
Debug/
Release/
*.class
*.dll
*.egg-info/
eggs/
.eggs/
*.eps
*.exe
*.lib
*.suo
*.zip
Pipfile

# OSX
*.DS_Store

# Wix files
files.wixobj
files.wxs
installer.wixobj
version.wxi

# Pytest
pytest.log
.pytest-artifacts/
.pytest_cache/

# coverage
.coverage

# Sphinx
docs/sphinx-build.log

# FOQUS specific ignores
foqus_lib/version/version.py
PSUADEPATH
gams
logging.conf
logs
turbine.cfg
user_plugins