--index-url https://pypi.python.org/simple/

# These will override requirements picked up from setup.py below:

# - pinning the Pylint version to ensure reproducible behavior and defaults
# - also pinning the version for Astroid (used by pylint to analyze the AST)
#   since there can be significant differences between (non-major) versions,
#   both in terms of behavior and performance
# - we need to use Pylint 2 with Python 3.8 b/c of a critical error (stack overflow)
#   occurring with Pylint 3
pylint==2.17.7;python_version=="3.8"
astroid==2.15.8;python_version=="3.8"
PyQt5-sip==12.15.0;python_version=="3.8"
pylint==3.1.0;python_version>"3.8"
astroid==3.1.0;python_version>"3.8"

pytest<8.1
### coverage
coverage
pytest-cov
black==24.3.0
addheader==0.3.2

# pytest-qt-extras
pytest-qt==4.2.*
python-slugify
oyaml
# singledispatchmethod needed for < 3.8
singledispatchmethod;python_version<"3.8"
hypothesis 

sphinx
sphinx_rtd_theme

# Remove this when botocore (pulled in by boto3 in setup.py) relaxes their
# docutils<0.16,>=0.10 constraint
docutils

# manage pre-commit hooks
pre-commit

# Pick up requirements from setup.py
-e .
