--index-url https://pypi.python.org/simple/

# The end-user requirements list has moved into setup.py in the install_requires
# list.

# This file should stay empty of new requirements (other than the "-e ." below)

# Developers should now use "pip install -r requirements.txt" (or "pip install -e .")
# to setup their development environments (don't use "python setup.py [install|develop]").

# Developer needed requirements (sphinx, pytest, etc.) should go in
# requirement-dev.txt and can be installed with "pip install -r requirement-dev.txt"
# (which is a superset of what "pip install -r requirements.txt" will install.

# Pick up requirements from setup.py
-e .
