--index-url https://pypi.python.org/simple/

# These will override requirements picked up from setup.py below:
coverage==4.5.4
pylint
pytest-cov
sphinx
sphinx_rtd_theme

# Pick up requirements from setup.py
-e .
